<mat-sidenav-container>
    
    <mat-sidenav-content id="main" perfectScrollbar [disabled]="settings.fixedHeader" (psScrollY)="onPsScrollY($event)">
        <div id="main-content" class="inner-sidenav-content transition-2" perfectScrollbar [disabled]="!settings.fixedHeader" (psScrollY)="onPsScrollY($event)"> 
            <iframe src="/assets/libs/track-and-trace/track-and-trace.html" width="100%" height="750" style="border:0px solid black;">
            </iframe>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> 